.main-information {

  background-color: #fbfbfb;
  margin-bottom: 88px;
  /*max-width: 1920px;*/
/*  height: auto;*/
 /* padding-bottom: 100px;*/
 overflow: hidden;
}

.ellipse {
  /*position: relative;
  /*height: 695px;*/
  /*background-image: url(../img/svg/ellipse.svg);
  background-repeat: no-repeat;
  background-position: 1160px 0px;
  display: block;
  max-width: 100%;
  height: auto;*/
}

.main-information__photo-wrapper {
  position: absolute;
  top: 70px;
  right: -400px;
  width: 890px;
 /* height: 695px;*/
  background-image: url(../img/svg/ellipse.svg);
  background-repeat: no-repeat;
  background-size: 960px 760px;
  background-position: 0px 0px;

  display: block;
  max-width: 100%;
  height: auto;
}

.img_svg {

}

.main-information__img {
  position: relative;
  left: 90px; /*130*/
}




.roster__item_one {
/*  display: flex;
  align-items: flex-end;*/
  background-image: url(../img/icons/icon-1.png);
  /*background-repeat: no-repeat;
  background-position: 100px 25px;*/
  margin-left: -15px;
}

.roster__item_two {
/*  display: flex;
  align-items: flex-end;*/
  background-image: url(../img/icons/icon-2.png);
/*  background-repeat: no-repeat;
  background-position: 100px 25px;*/
  margin-left: 22px;
}

.roster__item_three {
/*  display: flex;
  align-items: flex-end;*/
  background-image: url(../img/icons/icon-3.png);
/*  background-repeat: no-repeat;
  background-position: 100px 25px;*/
  margin-left: 28px;
}

.roster__item_four {
/*  display: flex;
  align-items: flex-end;*/
  background-image: url(../img/icons/icon-4.png);
/*  background-repeat: no-repeat;
  background-position: 100px 25px;*/
  margin-left: 28px;
}


.illustration {
  background-color: #fbfbfb;
  margin-top: 130px;
  min-width: 0;
  text-align: center;
}

/*.left {
  width: 60px;
  height: 60px;
  border-radius: 30px 30px;
  border: none;
  background-color: #fbfbfb;
  background-repeat: no-repeat;
  background-image: url(../img/elemetns/arrow.png);
  box-shadow: 0 0 10px 0px #f3f3f3;
}*/

.left:hover {
  cursor: pointer;
}

.left:focus {
  box-shadow: 0 0 10px 10px #f3f3f3;
  outline: none;
}

.left:active {
  border: 2px solid #fc057f;
}



.trade-offer {
 /* margin-top: 100px;*/
  /*min-height: 365px;*/
  /*width: 1920px;*/
  padding: 70px 0 50px 0;
  background: linear-gradient(20deg, #ff8f5a, #ff2f96);
}

