*{
	padding: 0;
	margin: 0;
}
/* roboto-regular - latin_cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
	url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
	url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}
/* roboto-900 - latin_cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'),
	url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
	url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
}

html, body {
	box-sizing: border-box;
  font-family: 'Roboto-Black', 'Roboto-Regular', sans-serif;
}

a {
    font-style: normal;
    text-decoration: none;
}

.header {
	  background-color: #fbfbfb;
    padding-top: 29px;

}

/*h1 {
	margin: 0;
	font-size: 78px;
	font-weight: 700;
}*/

/*h2 {
	text-align: center;
	font-size: 54px;
	font-weight: 700;
	margin: 100px 0;
}*/

/*h3 {
	font-size: 45px;
	color: #ffffff;
	margin: 0;
	padding-top: 70px;
}*/

/*footer {
	height: 265px;
	}*/


  .fixed-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
  }


  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-bottom: 60px;*/
  }
  /*верхнее навигационное меню*/

  .header__burger {
    display: none;
  }

   /*Мобильное меню*/
  /* .mob_nav-menu {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 10%;
    border: 1px solid #fa0e93;
  }

  .mob-menu__list {
    list-style-type: none;
  }

  .mob-menu__item {
    margin: 10px 0 0 5px;
  }

  .mob_nav-menu a {
    font-size: 18px;
    color: #8993ad;
  }

  .mob-menu__item:last-child {
    padding: 0px 30px 10px 0;
  }
*/
  .nav-menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .nav-menu__list {
    list-style-type: none;
		padding: 14px 0 0 0;
    display: flex;
    flex-direction: row;
  }

  .nav-menu {

  }

  .nav-menu a {
    color: #000000;
  }

  .nav-menu a:hover {
    color: #fc557c;
    text-decoration: underline;
  }


  .number {
    /*padding: 38px 0 0 0;*/

  }
  /*Номер и кнопка*/
  .number__tel {
    font-size: 25px;
    margin-right: 20px;
    color: #000000;
    font-weight: 700;
  }

  .call-button {
    border: none;
    background-color: #fbfbfb;
  }

  .call-button i.fas {
    display: none;
    font-size: 11px;
    border: 1px solid #fa0e93;
    border-radius: 100%;
    padding: 2px 2px 2px 2px;
  }

  .main-information__block-header {
    max-width: 770px;
    padding: 215px 0 238px 0;
    margin: 0;


  }

  .main-information__developer {
    margin: 0;
    font-size: 78px;
    font-weight: 700;
  }

  .call-button__text {
    display: inline-block;
    width: 205px;
    height: 43px;
    line-height: 45px;
    border: 1px solid #f82370;
    text-align: center;
    color: #f53f4f;
    background-color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
  }

  .call-button:active {
    background-color: #f53f4f50;
  }

  .call-button:focus {
    color: #000000;
    font-size: 18px;
    transition: color 0.6s;

  }

  .call-button:hover {
    cursor: pointer;
  }

  .main-information__grid-container {
    position: relative; /*Фиксим свг*/
   /* display: grid;
    grid-template-columns: 1.1fr 0.4fr;*/

  }

  .main-information__text {
    margin: 16px 0 47px;
    font-size: 25px;
    font-weight: 400;
    color: #8993ad;
  }

  .button-text {
    display: inline-block;
    /*width: 270px;*/
    padding: 20px 70px 20px 70px;
    /*height: 60px;*/
    /*line-height: 60px;*/
    text-align: center;
    color: #ffffff;
    background-color: #ff4e2e;
    font-weight: 400;
   /* margin-bottom: 100px;*/
  }

  .button-text:active {
    border: 2px solid #000000;

  }

  .button-text:focus {
    color: #000000;
    background-color: #ff4e2e50;
    transition: color 0.6s;
  }

  .two {
   /* height: 650px;*/
  }

  .roster {
    margin-top: 0;
    text-align: center;
  }

  .roster__activity {

    font-size: 54px;
    font-weight: 700;
  /*  margin: 100px 0;*/
    margin-bottom: 52px;
  }

  .roster__list {
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: 400;
    font-size: 20px;
    color: #8993ad;
    text-align: center;
    line-height: 1.5;
  }

  .roster__item {
  /*   min-height: 180px;
*/    padding-top: 130px;
   /*   display: flex;
      align-items: flex-end;*/
      list-style-type: none;
      background-repeat: no-repeat;
      background-position: 100px 25px;
}




 /* .but-two {
    display: inline-block;
    width: 270px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #ff4e2e;
    font-weight: 400;
    margin: 100px 0;
  }

  .but-two:active {
    border: 2px solid #000000;
  }

  .but-two:focus {
    color: #000000;
    background-color: #ff4e2e50;
    transition: color 0.6s;
  }*/

  /*.grid-container-button {
    display: grid;
    justify-content: center;
  }*/

  

  .illustration__activity {
    font-size: 54px;
    font-weight: 700;
  /*  margin: 100px 0;*/
    /*margin-bottom: 52px;*/
    padding: 100px 0;
  }


/* Слайдер */
  .slick-slider{}
/* Слайдер запущен */
  .slick-slider.slick-initialized{}
/* Слайдер с точками */
  .slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
/* Лента слайдов */
  .slick-track{
    display: flex;
    align-items: flex-start;
  }
/* Слайд */
  .slick-slide{}
/* Слайд активный (показывается) */
  .slick-slide.slick-active{}
/* Слайд основной */
  .slick-slide.slick-current{}
/* Слайд по центру */
  .slick-slide.slick-center{}
/* Клонированный слайд */
  .slick-slide.slick-cloned{}
/* Стрелка */
  .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;

  }
/* Стрелка влево */
  .slick-arrow.slick-prev{
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px;
    border: none;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-image: url(../img/elemetns/arrow.png);
    box-shadow: 0 0 10px 0px #f3f3f3;

  }
/* Стрелка вправо */
  .slick-arrow.slick-next{
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px;
    border: none;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-image: url(../img/elemetns/arrow-2.png);
    box-shadow: 0 0 10px 0px #f3f3f3;
     
  }
/* Стрелка не активная */
  .slick-arrow.slick-disabled{}
/* Точки (булиты) */
  .slick-dots{
   /* display: flex;
    align-items: center;
    justify-content: center;*/
  }
  .slick-dots li{
  /*  list-style: none;
    margin: 0 10px;*/
  }
/* Активная точка */
  .slick-dots li.slick-active{}
/* Элемент точки */
  .slick-dots li button{
  /*  font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;*/
  }
/* Конкретный слайд */
  .slider{
    display: flex;
    position: relative;
    min-width: 0;
    margin-bottom: 150px;
  }
  .slider.slick-arrow{
  /*  position: absolute;
    top: 25%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;*/
  }
  .slider.slick-arrow.slick-prev{
  /*   left: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px;
    border: none;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-image: url(../img/elemetns/arrow.png);
    box-shadow: 0 0 10px 0px #f3f3f3;*/
  }
  .slider.slick-arrow.slick-next{
  /*  right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px 30px;
    border: none;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-image: url(../img/elemetns/arrow-2.png);
    box-shadow: 0 0 10px 0px #f3f3f3;*/
  }
  .slider__item{} 

  .illustration__button-text{
    display: inline-block;
    /*width: 270px;*/
    padding: 20px 70px 20px 70px;
    /*height: 60px;*/
    /*line-height: 60px;*/
    text-align: center;
    color: #ffffff;
    background-color: #ff4e2e;
    font-weight: 400;
    margin-bottom: 100px;
  }

  .illustration__button-text:active {
    border: 2px solid #000000;

  }

  .illustration__button-text:focus {
    color: #000000;
    background-color: #ff4e2e50;
    transition: color 0.6s;
  }

  
  .trade-offer__text  {
    max-width: 680px;
    color: #ffffff;
    margin-top: 30px;
    line-height: 22px;
  }

  .trade-offer__additional-info {
    max-width: 970px;
    margin: 0 auto;
  }

  .trade-offer__services-title {
    font-size: 45px;
    color: #ffffff;
    margin: 0;
    /*padding-top: 70px;*/
  }

  /*Футер*/

  .footer {
    padding: 85px 0 0 0;
  }

  .footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 10px;
  }

 /* .info-list {
    padding-top: 85px;
  }*/

   .footer-nav a:hover {
    color: #fc557c;
    text-decoration: underline;
  }

  .footer-nav__list a {
    color: #8993ad;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
  }

  .footer-nav__list {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  .footer-nav__list li {
    margin-bottom: 15px;
  }

 /* .feedback {
    margin: 85px 0 0;
  }*/

 /* .feedback a {
    color: #000000;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
  }*/

  .feedback a:last-child {
    margin-bottom: 0;
  }


  .social__btn {
    display: inline-block;
    width: 250px;
    height: 45px;
    margin: 0px 0px 20px 0;
    line-height: 42px;
    border: 1px solid #f82370;
    text-align: center;
    color: #f53f4f;
    background-color: #fbfbfb;
    text-decoration: none;
  }

  .social__btn:active {
    background-color: #f53f4f50;
  }

  .social__btn:focus {
    color: #000000;
    font-size: 18px;
    transition: color 0.6s;
  }

  .feedback__link {
    color: #000000;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  .feedback__link i.fa {
    margin: 0 18px 0px 0px;
    font-size:25px;
    color: #f90f88;
  }

  /*.feedback__mail i.fa {
    font-size:25px;
    color: #f90f88;
    padding-right: 18px;
  }*/

  .footer__social {
    justify-self: end;
  }

  .social-networks {
    list-style-type: none;
    height: 70px;
  }

  ul.social-networks a:hover  {
    color: #fc557c;
    /*text-decoration: underline;*/
  }

  .social-networks a {
    background-image: url(../img/css-sprites.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 40px;
    display: inline-block;
    margin-right: 10px;
  }

  ul.social-networks li {
    display: inline;
  }


  a.social-networks__bg-vk { background-position: -10px top; }
  a.social-networks__bg-fb { background-position: -70px top; }
  a.social-networks__bg-tw { background-position: -135px top; }
  a.social-networks__bg-inst { background-position: -190px top; }

  .footer__botom-text {

    margin-top: 70px;
    padding: 30px 0 30px;
    text-align: center;
    color: #ffffff;
    background-color: #31293c;
    font-size: 16px;
    font-weight: 400;
  }



  /*Элементы в 1й секции*/

  .block-element {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

 }


 .block-element__up {
   /*position: relative;*/
   position: absolute;
   font: bold 28px sans-serif;
   background: -webkit-gradient(linear, left top, left bottom, from(#f90e89), to(#f4533a));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: initial;
   transition: all 1s linear 0.5s;
   z-index: -1;
 }





 .block-element__up_bracket-position-animation {
   top: 75px;
   left: 1235px; /*120*/
   transform: scale(1.7) rotate(25deg);
   /*transition: opacity 3s linear 0.5s;*/
   animation: block-element__up_bracket-position-animation 3s 1s;
   animation-fill-mode: both;
 }

 @keyframes block-element__up_bracket-position-animation {
   from { transform: translateX(0) rotate(0);}
   75% {
    transform: translateX(-1100px) rotate(5turn);
  }
  to {
    transform: translateX(-1100px) rotate(25deg) scale(1.7);
  /*  to { transform: translateX(-1100px) rotate(5turn);*/ }
}


.active .block-element__up/*_bracket-position-animation*/ {
 z-index: 0;
}


.block-element__up_lattice-position-animation {
 top: 305px;
 left: 1255px; /*240*/
 /*transform: scale(1.5) rotate(15deg);*/
 animation: block-element__up_lattice-position-animation 3s 1s;
 animation-fill-mode: both;
}

@keyframes block-element__up_lattice-position-animation {
 from { transform: translateX(0) rotate(0);}
 75% {
  transform: translateX(-1000px) rotate(5turn);
}
to {
  transform: translateX(-1000px) rotate(15deg) scale(1.7);
/* to { transform: translateX(-1000px) rotate(5turn);*/ }
}


/*.active .block-element__up_lattice-position-animation {
 z-index: 0;
}*/


.block-element__up_fraction-position-animation {
 top: 603px;
 left: 1585px; /*375*/
 /*transform: scale(1.3) rotate(-18deg);*/
 animation: block-element__up_fraction-position-animation 3s 1s;
 animation-fill-mode: both;
}

@keyframes block-element__up_fraction-position-animation {
 from { transform: translateX(0) rotate(0);}
 75% {
  transform: translateX(-1200px) rotate(5turn);
}
to {
  transform: translateX(-1200px) rotate(-18deg) scale(1.3);
/*to { transform: translateX(-1200px) rotate(5turn);*/ }
}


/*.active .block-element__up_fraction-position-animation {
 z-index: 0;
}*/


.block-element__up_div-up-position-animation{
 top: 92px;
 left: 1208px; /*780*/
 transform: scale(1.1) rotate(-14deg);
 animation: block-element__up_div-up-position-animation 3s 1s;
 animation-fill-mode: both;
}

@keyframes block-element__up_div-up-position-animation {
 from { transform: translateX(0) rotate(0);}
 75% {
  transform: translateX(-420px) rotate(5turn);
}
to {
  transform: translateX(-420px) rotate(-14deg);
/*to { transform: translateX(-420px) rotate(5turn);*/ }
}


/*.active .block-element__up_div-up-position-animation {
 z-index: 0;*/
 /* transform: rotate(5turn) translate(-920px, -160px);
}*/


.block-element__up_div-down-position-animation {
 top: 470px;
 left: 1458px; /*945*/
 /*transform: scale(1.1) rotate(20deg);*/
 animation: block-element__up_div-down-position-animation 3s 1s;
 animation-fill-mode: both;
}

@keyframes block-element__up_div-down-position-animation {
 from { transform: translateX(0) rotate(0);}
 75% {
  transform: translateX(-500px) rotate(5turn);
}
to {
  transform: translateX(-500px) rotate(20deg) scale(1.2);
/*  to { transform: translateX(-500px) rotate(5turn);*/ }
}


/*.active .block-element__up_div-down-position-animation {
 z-index: 0;
}*/



/*Элементы в 4й секции*/

.trade-elements__down {
 position: absolute;
 font: bold 28px sans-serif;
 color: #ffffff;
 transition: all 1s linear 0.5s;
}

.trade-elements__down_bracket-up-position-animation {
 top: 2300px; /*1550*/
 left: 125px;
 transform: scale(1.6) rotate(25deg);
 animation:trade-elements__down_bracket-up-position-animation 4s infinite ease-in-out;

}

@keyframes trade-elements__down_bracket-up-position-animation {
 from { transform: scale(1.6) rotate(25deg);}

 to { transform: scale(1.6) rotate(385deg);}
}


.trade-elements__down_lattice-position-animation {
 top: 2530px; /*1780*/
 left: 240px;
 transform: scale(1.5) rotate(15deg);
 animation: trade-elements__down_lattice-position-animation 4s infinite ease-in-out;
}


@keyframes trade-elements__down_lattice-position-animation  {
 from { transform: scale(1.5) rotate(15deg);}

 to { transform: scale(1.5) rotate(-345deg); }
}

.trade-elements__down_fraction-position-animation {
 top: 2300px; /*1550*/
 left: 1600px;
 transform: scale(1.3) rotate(-15deg);
 animation: trade-elements__down_fraction-position-animation 4s infinite ease-in-out;
}

@keyframes trade-elements__down_fraction-position-animation {
 from { transform: scale(1.3) rotate(-15deg);}

 to { transform: scale(1.3) rotate(345deg); }
}

.trade-elements__down_div-position-animation {
 top: 2540px; /*1790*/
 left: 1320px;
 transform: scale(1.1) rotate(20deg);
 animation: trade-elements__down_div-position-animation 4s infinite ease-in-out;
}

@keyframes trade-elements__down_div-position-animation {
 from { transform: scale(1.1) rotate(20deg);}

 to { transform: scale(1.1) rotate(380deg); }
}

.trade-elements__down_bracket-down-position-animation {
 top: 2510px; /*1760*/
 left: 1760px;
 transform: scale(1.6) rotate(-25deg);
 animation: trade-elements__down_bracket-down-position-animation 4s infinite ease-in-out;
}

@keyframes trade-elements__down_bracket-down-position-animation {
 from { transform: scale(1.6) rotate(-25deg);}

 to { transform: scale(1.6) rotate(-385deg); }
}

/*.popups__inner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup {
  background: #ececec;
  padding: 60px 90px;
  border-radius: 15px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
a.close_popup {
  position: absolute;
  top: 9px;
  right: 22px;
  font-size: 37px;
  cursor: pointer;
}

.popup h3 {
  font-size: 27px;
  font-weight: 600px;
}

.popup p {
  margin-top: 5px;
}

.popup form {
  margin-top: 25px;
}

.popup input[type="submit"] {
  margin-bottom: 0;
}

.popup input {
  display: block;
  margin: 0 auto 15px;
  width: 300px;
  border-radius: 10px;
  padding: 15px 25px;
}

.popups__inner.open {
  visibility: visible;
  opacity: 1;
}*/


.popup {
 position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;


  
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;

}

.popup__content {
  border: 1px solid #f82370;
  background: /*#ececec;*/ #f8f8ff;
  padding: 60px 90px;
  border-radius: 15px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 9px;
  right: 22px;
  font-size: 37px;
  cursor: pointer;
  text-decoration: none;
}

.popup__head {
  margin-bottom: 20px;
}

.popup__text {
  margin-bottom: 20px;
  color: #8993ad;
}

.your-name {
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 200px;
}
.your-number {
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 120px;
}

.form {
   display: grid;
    grid-template-columns: 1fr ;
   /* grid-gap: 10 10px;*/
   grid-row-gap: 15px;
  /* justify-items: center;*/

   
}

.forms {
  cursor: pointer;
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 120px;
}
.forms:hover {
  box-shadow: inset 0px -20px 20px #ffffff;
}
.forms:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
}
.forms:focus
{
  outline:none;
} 

.well {
  border-color: green;
}

.wrong {
  background-color: red;
}

.price-popup {
 position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;


  
}

.price-popup:target {
  opacity: 1;
  visibility: visible;
}

.price-popup:target .price-popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.price-popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;

}

.price-popup__content {
  border: 1px solid #f82370;
  background: /*#ececec;*/ #f8f8ff;
  padding: 60px 90px;
  border-radius: 15px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.price-popup__close {
  position: absolute;
  top: 9px;
  right: 22px;
  font-size: 37px;
  cursor: pointer;
  text-decoration: none;
}

.price-popup__head {
  margin-bottom: 20px;
}

.price-popup__text {
  margin-bottom: 20px;
  color: #8993ad;
}

.your-text {
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 200px;
}

.your-email {
   border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 200px;
}
